<div layout="column" layout-margin layout-align="center center" ng-show="loading">
    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    <div flex style="color:#FFFFFF">Loading samples...please wait...</div>
</div>

<md-toolbar class="hedwig-theme">
    <div class="md-toolbar-tools hedwig-theme" layout="row">
        <!--left -->
        <div layout="row">
            <md-button  class="hedwig-theme"  layout="row"   layout-align="center center" aria-label="Apps">
                <ng-md-icon icon="apps"  style="fill: white" size="24"></ng-md-icon>
            </md-button>
            <md-button  class="hedwig-theme"  layout="row"   layout-align="center center" aria-label="List">
                <ng-md-icon icon="view_list"  style="fill: white" size="24"></ng-md-icon>
            </md-button>

            <span style="padding: 0 16px">Samples</span>

        </div>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button  class="hedwig-theme md-raised md-primary"  ng-click="DetailAction()" layout="row"   layout-align="center center" style="width:88px;" ng-disabled="!selectedRow">
            <!--IE need to use ng-attr-style-->
            <span flex> </span>
            <ng-md-icon icon="mode_edit"  style="fill: white" size="24"></ng-md-icon>
            <span flex> </span>
            <span>Details</span>
            <span flex> </span>
        </md-button>
        <span style="padding: 0 4px"> </span>
        <md-button  class="hedwig-theme md-raised md-primary" ng-click="ZipAction()" layout="row"   layout-align="center center" style="width:104px;" ng-disabled="!selectedRow">
            <!--IE need to use ng-attr-style-->
            <span flex> </span>
            <ng-md-icon icon="archive"  style="fill: white" size="24"></ng-md-icon>
            <span flex> </span>
            <span>Download</span>
            <span flex> </span>
        </md-button>
        <span style="padding: 0 4px"> </span>
        <md-button  class="hedwig-theme" ng-click="refresh_session_list()" layout="row"   layout-align="center center" style="width:88px;">
            <!--IE need to use ng-attr-style-->
            <span flex> </span>
            <ng-md-icon icon="refresh"  style="fill: white" size="24"></ng-md-icon>
            <span flex> </span>
            <span>Refresh</span>
            <span flex> </span>
        </md-button>
        <span style="padding: 0 4px"> </span>
        <md-button  class="hedwig-theme  md-primary" ng-click="AddAction()" layout="row"   layout-align="center center" style="width:72px;">
            <!--IE need to use ng-attr-style-->
            <span flex> </span>
            <ng-md-icon icon="add_circle"  style="fill: white" size="24"></ng-md-icon>
            <span flex> </span>
            <span>Add</span>
            <span flex> </span>
        </md-button>

    </div>
</md-toolbar>


<!--form-->
<div flex
     ui-grid="gridOptions"
     ui-grid-selection
     ui-grid-auto-resize
     class="grid"
     style="border:none;">
</div>
