<div ng-controller="OSCTR.samplesController as ctrl" layout="column">
    <md-content class="md-padding" layout="column">
        <form ng-submit="$event.preventDefault()">
            <h1>Sample Submission</h1>
            <div layout-gt-sm="row">
                <md-input-container >
                    <label>DiseaseType</label>
                </md-input-container>
                <md-input-container>
                    <md-radio-group flex ng-model="profile.diseaseType">
                        <div layout-gt-sm="row">
                            <md-radio-button value="Bilateral" > Bilateral </md-radio-button>
                            <md-radio-button value="Unilateral"> Unilateral </md-radio-button>
                        </div>
                    </md-radio-group>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container >
                    <label>Affected Area</label>
                </md-input-container>
                <md-radio-group flex ng-model="profile.eye" >
                    <div layout-gt-sm="row" >
                        <md-radio-button value="Right" ng-disabled="profile.diseaseType == ''"> Right Eye </md-radio-button>
                        <md-radio-button value="Left" ng-disabled="profile.diseaseType == ''"> Left Eye </md-radio-button>
                        <md-radio-button value="Both"ng-disabled="profile.diseaseType == ''" ng-hide="profile.diseaseType == 'Unilateral'"> Both Eyes </md-radio-button>
                    </div>
                </md-radio-group>
                </md-input-container>
            </div>
            <md-input-container >
                <label>Disease</label>
            </md-input-container>
            <div layout-gt-sm="row" >

                <md-autocomplete ng-disabled="profile.diseaseType == ''"
                                 flex
                                 ng-disabled="ctrl.isDisabled"
                                 md-no-cache="ctrl.noCache"
                                 md-selected-item="ctrl.selectedItem"
                                 md-search-text="ctrl.searchText"
                                 md-items="item in ctrl.querySearch(ctrl.searchText)"
                                 md-item-text="item.display"
                                 md-floating-label="Favorite state">
                    <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
                </md-autocomplete>
                <md-button ng-disabled="profile.diseaseType == ''" class="md-primary" ng-click="addItem($event)">
                    Add
                </md-button>
            </div>

            <br></br>
            <div flex>
                <md-list>
                    <md-subheader ng-show="profile.lefteye >='1'" class="md-no-sticky">Left eye</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="item in profile.lefteye">
                        <div class="lefteye">
                            <p> {{ item }} </br></p>
                        </div>
                    </md-list-item>

                    <md-subheader ng-show=" profile.righteye >='1'" class="md-no-sticky">Right eye</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="item in  profile.righteye">
                        <div class="righteye">
                            <p> {{ item }} </br></p>
                        </div>
                    </md-list-item>

                    <md-subheader ng-show=" profile.botheye >='1'" class="md-no-sticky">Both eyes</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="item in  profile.botheye">
                        <div class="lefteye">
                            <p> {{ item }} </br></p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <div class="form-group">
                <div flex layout-gt-sm="row">
                    <md-button flex class="md-raised" ng-show="profile.botheye >='1' || profile.righteye >='1' || profile.lefteye >='1'" ng-click="cleanSelection()">
                        Clean Selection
                    </md-button>
                </div>
            </div>

            <div layout-gt-sm="row">
                <md-input-container>
                    <label>Gender</label>
                </md-input-container>
                <md-input-container>
                    <md-radio-group flex ng-model="profile.gender">
                        <div layout-gt-sm="row" >
                            <md-radio-button value="Male"> Male </md-radio-button>
                            <md-radio-button value="Female"> Female </md-radio-button>
                            <md-radio-button value="Other"> Other </md-radio-button>
                        </div>
                    </md-radio-group>
                </md-input-container>
            </div>


            <div layout-gt-sm="row" >

                <md-select flex placeholder="Ethnicity" ng-model="profile.ethnicity">
                    <md-option value="Mixed Race">Mixed Race</md-option>
                    <md-option value="Arctic (Siberian, Eskimo)">Arctic (Siberian, Eskimo)</md-option>
                    <md-option value="Caucasian (European)">Caucasian (European)</md-option>
                    <md-option value="Caucasian (Indian)">Caucasian (Indian)</md-option>
                    <md-option value="Caucasian (Middle East)">Caucasian (Middle East)</md-option>
                    <md-option value="Indigenous Australian">Indigenous Australian</md-option>
                    <md-option value="Native American">Native American</md-option>
                    <md-option value="North East Asian (Mongol, Tibetan, Korean Japanese, etc)">North East Asian (Mongol, Tibetan, Korean Japanese, etc)</md-option>
                    <md-option value="South East Asian (Chinese, Thai, Malay, Filipino, etc)">South East Asian (Chinese, Thai, Malay, Filipino, etc)</md-option>
                    <md-option value="West African, Bushmen, Ethiopian">West African, Bushmen, Ethiopian</md-option>
                    <md-option value="Other Race">Other Race</md-option>
                </md-select>
            </div>

            <md-input-container flex>
                <label>Age</label>
                <input ng-model="profile.age" type="NUMBER" maxlength="3" min="0">
            </md-input-container>
            <md-input-container>

                <md-input-container flex>
                    <label>Comment</label>
                    <input ng-model="profile.comment" type="Text">
                </md-input-container>

                <md-input-container>
                    <div class="box-col" style="width: 340px">
                                <label>Upload file</label>
                                <input name="files"
                                       type="file"
                                       kendo-upload
                                       k-async="{ saveUrl: 'save', removeUrl: 'remove', autoUpload: true }"
                                       k-select="onSelect"
                                        />
                            </div>
                </md-input-container>

                <div layout-gt-sm="row">
                    <md-button flex class="md-raised md-primary" ng-click="submit($event)">Submit</md-button>
                </div>

</div>
</form>
</div>