<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">


    <md-list>
    <!-- Default users
    <md-item ng-repeat="it in ul.users">
        <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
            <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
            {{it.name}}
        </md-button>
    </md-item> -->
    <md-item>
            <h3><md-button href="#/homePage">Home</md-button></h3>
            <h3><md-button href="#/SampleSubmission">Sample Submission</md-button></h3>
            <h3><md-button href="#/SampleLookup">Search Existing Samples</md-button></h3>
        <!-- <a href="#/view/autocomplete"> Autocomplete </a> -->
    </md-item>

</md-list>
</md-sidenav>

<section layout="row" flex>

    <md-content flex class="md-padding">
        <div layout="column" layout-fill layout-align="top center">
            <p>
                The left sidenav will 'lock open' on a medium (>=960px wide) device.
            </p>
            <div>
                <md-button ng-click="toggleRight()"
                           class="md-primary">
                    Toggle right
                </md-button>
            </div>
        </div>
        <div flex></div>
    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Sidenav Right</h1>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" class="md-padding">
            <md-button ng-click="close()" class="md-primary">
                Close Sidenav Right
            </md-button>
        </md-content>
    </md-sidenav>
</section>
</div>
</div>
