<div ng-app="Samples" ng-controller="SamplesCtrl as ctrl" layout="column">
    <md-content class="md-padding" layout="column">
        <form ng-submit="$event.preventDefault()">
            <h1>Sample Submission</h1>
            <div layout-gt-sm="row">
                <md-input-container >
                    <label>DiseaseType</label>
                </md-input-container>
                <md-input-container>
                    <md-radio-group flex ng-model="profile.diseaseType">
                        <div layout-gt-sm="row">
                            <md-radio-button value="Bilateral" > Bilateral </md-radio-button>
                            <md-radio-button value="Unilateral"> Unilateral </md-radio-button>
                        </div>
                    </md-radio-group>
                </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container >
                        <label>Affected Area</label>
                    </md-input-container>
                    <md-radio-group flex ng-model="profile.eye" >
                        <div layout-gt-sm="row" >
                            <md-radio-button value="Right" ng-disabled="profile.diseaseType == ''"> Right Eye </md-radio-button>
                            <md-radio-button value="Left" ng-disabled="profile.diseaseType == ''"> Left Eye </md-radio-button>
                            <md-radio-button value="Both"ng-disabled="profile.diseaseType == ''" ng-hide="profile.diseaseType == 'Unilateral'"> Both Eyes </md-radio-button>
                        </div>
                    </md-radio-group>
                </md-input-container>
            </div>
            <md-input-container >
            <label>Disease</label>
            </md-input-container>
            <div layout-gt-sm="row" >

                <md-autocomplete ng-disabled="profile.diseaseType == ''"
                                 flex
                                 ng-disabled="ctrl.isDisabled"
                                 md-no-cache="ctrl.noCache"
                                 md-selected-item="ctrl.selectedItem"
                                 md-search-text="ctrl.searchText"
                                 md-items="item in ctrl.querySearch(ctrl.searchText)"
                                 md-item-text="item.display"
                                 md-floating-label="Favorite state">
                    <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
                </md-autocomplete>
                <md-button ng-disabled="profile.diseaseType == ''" class="md-primary" ng-click="addItem($event)">
                    Add
                </md-button>
            </div>

            <br></br>
            <div flex>
            <md-list>
                <md-subheader ng-show="profile.lefteye >='1'" class="md-no-sticky">Left eye</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="item in profile.lefteye">
                    <div class="lefteye">
                        <p> {{ item }} </br></p>
                    </div>
                </md-list-item>

                <md-subheader ng-show=" profile.righteye >='1'" class="md-no-sticky">Right eye</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="item in  profile.righteye">
                    <div class="righteye">
                        <p> {{ item }} </br></p>
                    </div>
                </md-list-item>

                <md-subheader ng-show=" profile.botheye >='1'" class="md-no-sticky">Both eyes</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="item in  profile.botheye">
                    <div class="lefteye">
                        <p> {{ item }} </br></p>
                    </div>
                </md-list-item>
            </md-list>
</div>
            <!--
            <md-grid-list
                    flex wrap
                    md-cols-sm="1" md-cols-md="1" md-cols-gt-md="6"
                    md-row-height-gt-md="1:1" md-row-height="2:1"
                    md-gutter="12px" md-gutter-gt-sm="8px" >
                <div flex>
            <md-grid-tile class="gray"
                          md-rowspan="fit" md-colspan="2">

                <ol >
                    <li class="botheye" ng-repeat="item in profile.lefteye">
                        {{ item }}
                    </li>
                </ol>

                <md-grid-tile-footer >
                    <h3>Left eye</h3>
                </md-grid-tile-footer>
                </div>
            </md-grid-tile>

                <md-grid-tile  class="red" md-colspan="2"  md-rowspan="fit">
                    <ol >
                        <li class="botheye" ng-repeat="item in profile.botheye">
                            {{ item }}
                        </li>
                    </ol>

                    <md-grid-tile-footer>
                        <h3>Right eye</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="green" md-rowspan="fit" md-colspan="2">
                    <ol >
                        <li class="botheye" ng-repeat="item in profile.botheye">
                            {{ item }}
                        </li>
                    </ol>
                    <md-grid-tile-footer>
                        <h3>Both eyes</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>

            </md-grid-list>

</br>
-->
            <div class="form-group">
                <div flex layout-gt-sm="row">
                    <md-button flex class="md-raised" ng-show="profile.botheye >='1' || profile.righteye >='1' || profile.lefteye >='1'" ng-click="cleanSelection()">
                        Clean Selection
                    </md-button>
                </div>
            </div>

            <div layout-gt-sm="row">
            <md-input-container>
                <label>Gender</label>
            </md-input-container>
            <md-input-container>
                <md-radio-group flex ng-model="profile.gender">
                    <div layout-gt-sm="row" >
                    <md-radio-button value="Male"> Male </md-radio-button>
                    <md-radio-button value="Female"> Female </md-radio-button>
                        <md-radio-button value="Other"> Other </md-radio-button>
                    </div>
                </md-radio-group>
            </md-input-container>
            </div>


                <div layout-gt-sm="row" >

                    <md-select flex placeholder="Ethnicity" ng-model="profile.ethnicity">
                        <md-option value="1">Mixed Race</md-option>
                        <md-option value="2">Arctic (Siberian, Eskimo)</md-option>
                        <md-option value="3">Caucasian (European)</md-option>
                        <md-option value="4">Caucasian (Indian)</md-option>
                        <md-option value="5">Caucasian (Middle East)</md-option>
                        <md-option value="6">Indigenous Australian</md-option>
                        <md-option value="7">Native American</md-option>
                        <md-option value="8">North East Asian (Mongol, Tibetan, Korean Japanese, etc)</md-option>
                        <md-option value="9">South East Asian (Chinese, Thai, Malay, Filipino, etc)</md-option>
                        <md-option value="10">West African, Bushmen, Ethiopian</md-option>
                        <md-option value="11">Other Race</md-option>
                    </md-select>
                </div>

                <md-input-container flex>
                    <label>Age</label>
                    <input ng-model="profile.age" type="NUMBER" maxlength="3" min="0">
                </md-input-container>
                <md-input-container>

                <md-input-container flex>
                    <label>Comment</label>
                    <input type="Text">
                </md-input-container>

                <div layout-gt-sm="row">
                <md-button flex class="md-raised md-primary" ng-click="submit($event)">Submit</md-button>
                    </div>

            </div>
        </form>
</div>
